html,body {
    height:100%;
}

.webpage {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    background-color: white;
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 80%);
    margin: auto;
}

.grid-container {
    display: grid;
    background-color: white;
    gap: 0;
    grid-template-columns: auto auto auto;
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
}

.square {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    margin: auto;
}

.one {
    background-color: #00858C;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}
.two {
    background-color: #00858C;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.three {
    background-color: #729296;
    grid-column-start: 2;
    grid-column-end: 3;
}
.five {
    background-color: #FABBB1;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.five {
    background-color: #FABBB1;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
}