.webpage {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100vh;
}

.board {
    align-items: center;
    display: flex;
    background-color: white;
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 100%);
    margin: auto;
}

.line-container {
    display: grid;
    background-color: white;
    margin-left:auto;
    margin-right:auto;
    height: 42.857143vh;
    width: 42.857143vw;
    justify-content: center;
    grid-template-columns: repeat(auto-fit, 1.82vw);
}

.line {
    background-color: black;
    height: 42.857143vh;
    width: 1.82vw;
    margin: auto;
}

.smallbox {
    background-color: white;
    height: 14.285714vh;
    width: 14.285714vw;
}