body {
    overflow: hidden;
}

.webpage {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100vh;
}

.board {
    display: flex;
    background-color: white;
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 100%);
    margin: auto;
}

.working-area {
    background-color: white;
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
}

.addition1-container {
    display: flex;
    background-color: white;
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
}

.line {
    display: flex;
    height: 42.857143vh;
    width: 1.82vw;
    background-color: black;
    margin: auto;
}

.subtraction1-container {
    display: flex;
    height:.285714vh;
    width:.285714vw;
}

.line {
    background-color: white;
    display: flex;
    height: 42.857143vh;
    width: 1.82vw;
    margin: auto;
    position: relative;
    top: 10px;
}