@charset "utf-8";
body {
    margin: 0;
    overflow: hidden;
}

.webpage {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100vh;
}

.board {
    display: flex;
    background-color: white;
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 100%);
    margin: auto;
}

.working-area {
    background-color: white;
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
}

.addition1-container {
    display: flex;
    background-color: white;
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
}

.line {
    display: flex;
    height: 42.857143vh;
    width: 0.55vw;
    background-color: black;
    margin: auto;
}

.subtraction1-container {
    align-items: center;
    background: 
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="-14.7 0 45.02 302.88" fill="white"><path d="M45.02,302.88c-12.57,0-24.1-16.14-32.47-45.44C4.46,229.1,0,191.45,0,151.44s4.46-77.66,12.55-106  C20.91,16.14,32.45,0,45.02,0v5C25.69,5,5,63.84,5,151.44s20.69,146.44,40.02,146.44V302.88z"/></svg>')
        center/auto 23.457143vw, 42.857143vh;
    display: flex;
    position: relative;
    top: -42.857143vh;
    clip-path: inset(30% 30%);
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
}

.addition2-container {
    display: flex;
    background: 
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" version="1.1" id="Layer_1" viewBox="0 0 31.22 377.05" fill="black"><path d="M11.43,377.05c-6.9-47.4-10.86-116.11-10.86-188.53C0.57,116.11,4.53,47.4,11.43,0l19.79,2.88  c-6.77,46.49-10.65,114.15-10.65,185.65s3.88,139.16,10.65,185.65L11.43,377.05z"/></svg>')
        center/auto 42.857143vw, 42.857143vh;
    clip-path: inset(0.1%);
    height: 42.857143vh;
    width: 42.857143vw;
    margin: auto;
    position: relative;
    top: -84.7vh;
}

.line3 {
    display: flex;
    /*height: 42.857143vh;
    width: 0.35714vw;*/
    margin: auto;
    height: 100%;
    width: -webkit-fill-available;
}

.first {
    margin-left: 0;
}
.last {
    margin-right: 0;
}