html {
    --white: #FFFFFF;
}

.square {
    position: relative;
    width: 71.428571%;
    border: solid 1px black;
}
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}