html {
    --white: #FFFFFF;
}

.square1 {
    position: relative;
    width: 71.428571%;
    border: solid 1px black;
}
.square1:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}

.square2 {
    position: absolute;
    width: 42.857143%;
    color: black;
}
.square2:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}