html,body {
    height:100%;
}

.webpage {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

.board {
    display: flex;
    background-color: white;
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 80%);
    margin: auto;
}

.color-container{
    display: flex;
    height: 42.857143vh;
    width: 42.857143vw;
    background-color: #FFFFFF;
    margin: auto;
}

.outer-half1 {
    display: flex;
    height: 42.857143vh;
    width: 42.857143vw;
    background-color: #372275;
    margin: auto;
}

.inner-half1 {
    display: flex;
    height: 14.285714vh;
    width: 7.142857vw;
    background-color: #BF9BC8;
    margin: auto 0 auto auto;
}

.outer-half2 {
    display: flex;
    height: 42.857143vh;
    width: 42.857143vw;
    background-color: #E7CCDA;
    margin: auto;
}

.inner-half2 {
    display: flex;
    height: 14.285714vh;
    width: 7.142857vw;
    background-color: #BF9BC8;
    margin: auto auto auto 0;
}

.flap-half1 {
    display: flex;
    height: 42.857143vh;
    width: 14.285714vw;
    background-color: #E84A4E;
    margin: auto;
}

.flap-half2 {
    display: flex;
    height: 42.857143vh;
    width: 14.285714vw;
    background-color: #2C439B;
    margin: auto;
}

.menu-btn:checked::after {
    content: "Close Menu";
  }
  
  .menu-btn::after {
    content: "Open Menu";
    background: rgba(233, 233, 33, 0.6);
    padding: 0.5em;
  }