html {
    --white: #FFFFFF;
}

.container {
    /*align-items: center;*/
    display: flex;
    /*justify-content: center;
    justify-items: center;*/
    width: 100vw;
    height: 100vw;
}

.square1 {
    display: flex;
    /*position: absolute;*/
    height: 71.428571vw;
    width: 71.428571vw;
    border: solid 1px black;
    margin: auto;
}
/*.square1:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}*/

.square2 {
    display: flex;
    /*position: absolute;*/
    height: 42.857143vw;
    width: 42.857143vw;
    background: black;
    margin: auto;
}
/*.square2:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}*/

.square3 {
    display: flex;
    /*position: absolute;*/
    height: 14.285714vw;
    width: 14.285714vw;
    background: white;
    margin: auto;
}
/*.square3:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}*/