html {
    --white: #FFFFFF;
}

.container {
    background: white;
    display: flex;
    width: 100%;
    height: 100%;
}

.square1 {
    display: flex;
    /*position: absolute;*/
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 20%);
    margin: auto;
}
/*.square1:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}*/

.square2 {
    display: flex;
    /*position: absolute;*/
    height: 42.857143vh;
    width: 42.857143vw;
    background: black;
    margin: auto;
}
/*.square2:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}*/

.square3 {
    display: flex;
    /*position: absolute;*/
    height: 14.285714vh;
    width: 14.285714vw;
    background: white;
    margin: auto;
}
/*.square3:after {
    content: "";
    display: block;
    padding-bottom: 100%;
}*/