.html,body {
    margin: 0;
    overflow: hidden;
}

.container {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
    border: solid .25pt rgb(0, 0, 0, 80%);
}

.grid-container {
    display: grid;
    background-color: white;
    gap: 0;
    height: 71.428571vh;
    width: 71.428571vw;
    margin: auto;
}

.square {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    margin: auto;
}

.four {
    background-color: #FFD574;
    grid-column-start: 1;
    grid-column-end: 2;
}

.five {
    background-color: #FFD574;
    grid-column-start: 2;
    grid-column-end: 3
}