.container {
    background-color: white;
    display: flex;
    width: 100%;
    height: 100%;
}

.square1 {
    display: flex;
    background-color: white;
    height: 71.428571vh;
    width: 71.428571vw;
    border: solid .25pt rgb(0, 0, 0, 80%);
    margin: auto;
}

.square2 {
    display: flex;
    height: 42.857143vh;
    width: 42.857143vw;
    background-color: black;
    margin: auto;
}

.square5 {
    display: flex;
    height: 14.285714vh;
    width: 14.285714vw;
    background-color: #FFD574;
    margin: auto;
}